@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #002339;
    color: white;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.container h1{
    font-size: 40px;
    font-weight: 500;
}
.display{
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
   background-color: white;
   color: #333;
   justify-content: space-between;
   border-radius: 10px;
   padding: 20px ;
}

.container h1 span{
    border-bottom: 4px solid #019f55;
    color: #019f55;
    padding-bottom: 7px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: none;
    outline: none;
    font-size: 22px;
}
.container button img{
width: 28px;
margin-right: 10px;
}
.container button{
    background-color: #019f55;
    color: white;
    border: none;
    outline: none;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: 16px 16px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
}